In [64]:
import pandas as pd

# Import source data files
quarter1_df = pd.read_csv("data/LoanStats_2018Q1.csv")
quarter2_df = pd.read_csv("data/LoanStats_2018Q2.csv")
quarter3_df = pd.read_csv("data/LoanStats_2018Q3.csv")
quarter4_df = pd.read_csv("data/LoanStats_2018Q4.csv")
fed_data = pd.read_csv("data/DRCCLACBS - federal reserve delinquency rates.csv")
# list(quarter1_df)

C:\Users\jcfis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\jcfis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
print(len(cleanQ1))
# print(len(quarter1_df.dropna(how='any')))

0

In [100]:
# create dataframes with data needed for delinquency analysis
collumns = ["loan_amnt","int_rate","grade","loan_status",'delinq_amnt','tot_cur_bal']
cleanQ1 = quarter1_df[collumns]
cleanQ1 = cleanQ1.dropna(how = "any")
cleanQ2 = quarter2_df[collumns]
cleanQ2 = cleanQ2.dropna(how = "any")
cleanQ3 = quarter3_df[collumns]
cleanQ3 = cleanQ3.dropna(how = "any")
cleanQ4 = quarter4_df[collumns]
cleanQ4 = cleanQ4.dropna(how = "any")


# Add quarter column to data source
cleanQ1["Quarter"] = "Q1"
cleanQ2["Quarter"] = "Q2"
cleanQ3["Quarter"] = "Q3"
cleanQ4["Quarter"] = "Q4"


# Merge Clean Data to create a large master table
combined1 = pd.merge(cleanQ1,cleanQ2 ,how="outer")
combined2 = pd.merge(combined1,cleanQ3 ,how="outer")
combined_Final = pd.merge(combined2,cleanQ4 ,how="outer")


fed_data["DATE"] = pd.to_datetime(fed_data["DATE"])
fed_data2018 = fed_data[fed_data["DATE"]>="1/1/2018"]
fed_data2018 = fed_data2018.rename(columns={'DRCCLACBS':'DLQ Rate'})
 
fed_data2018 = fed_data2018.reset_index()

fed_data2018

   index       DATE QUARTER  DLQ Rate
0    108 2018-01-01      Q1      2.54
1    109 2018-04-01      Q2      2.48
2    110 2018-07-01      Q3      2.49
3    111 2018-10-01      Q4      2.54

In [106]:

Q1_Total = cleanQ1["Quarter"].count()
Q1_Late = cleanQ1[(cleanQ1["loan_status"]== "Late (31-120 days)") | (cleanQ1["loan_status"]== "Late (16-30 days)")]
Q1_DLQ = Q1_Late["loan_status"].count()
Q1_DLQ_Rate = Q1_DLQ/Q1_Total*100

Q2_Total = cleanQ2["Quarter"].count()
Q2_Late = cleanQ2[(cleanQ2["loan_status"]== "Late (31-120 days)") | (cleanQ2["loan_status"]== "Late (16-30 days)")]
Q2_DLQ = Q2_Late["loan_status"].count()
Q2_DLQ_Rate = Q2_DLQ/Q2_Total*100

Q3_Total = cleanQ3["Quarter"].count()
Q3_Late = cleanQ3[(cleanQ3["loan_status"]== "Late (31-120 days)") | (cleanQ3["loan_status"]== "Late (16-30 days)")]
Q3_DLQ = Q3_Late["loan_status"].count()
Q3_DLQ_Rate = Q3_DLQ/Q3_Total*100

Q4_Total = cleanQ4["Quarter"].count()
Q4_Late = cleanQ4[(cleanQ4["loan_status"]== "Late (31-120 days)") | (cleanQ4["loan_status"]== "Late (16-30 days)")]
Q4_DLQ = Q4_Late["loan_status"].count()
Q4_DLQ_Rate = Q4_DLQ/Q4_Total*100


print(Q1_DLQ_Rate)
print(Q2_DLQ_Rate)
print(Q3_DLQ_Rate)
print(Q4_DLQ_Rate)

2.2760142401542685
2.191600648456856
1.3877404558715696
0.5700401831604524

In [71]:
combined_Final["loan_status"].value_counts()

Current               437318
Fully Paid             40240
Charged Off             6942
Late (31-120 days)      6509
In Grace Period         2901
Late (16-30 days)       1323
Default                    9
Name: loan_status, dtype: int64