In [1]:
# Team 1 LendingClub primary notebook
# import dependencies
import pandas as pd
import numpy as np  # needed for replace nan code below
import glob

# PROCESSING OF LENDING CLUB LOAN FILES

# pull in all csvs and merge them into a single dataframe
bigdf = pd.concat([pd.read_csv(f, low_memory=False, 
                               usecols=[
                                   'loan_amnt','term','int_rate','installment','emp_length',
                                   'home_ownership','annual_inc','issue_d','loan_status',
                                   'pymnt_plan','purpose','title','addr_state','dti',
                                   'delinq_2yrs','mths_since_last_delinq','open_acc','pub_rec',
                                   'total_rec_late_fee','recoveries','collection_recovery_fee',
                                   'mths_since_last_major_derog','chargeoff_within_12_mths',
                                   'delinq_amnt','mo_sin_old_il_acct','mo_sin_old_rev_tl_op',
                                   'mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc',
                                   'mths_since_recent_bc','mths_since_recent_bc_dlq',
                                   'mths_since_recent_inq','mths_since_recent_revol_delinq',
                                   'pct_tl_nvr_dlq','pub_rec_bankruptcies','tax_liens'
                               ]) 
                   for f in glob.glob('data/LoanStats*.csv')], ignore_index=True)


# code to fill nans with 0s
bigdf['mths_since_last_major_derog'].replace(np.nan, 0)

# processing date into new columns
bigdf["month_num"] = ""
bigdf.loc[data['issue_d'].str[:3] == "Dec", ('month_num')] = (12)
bigdf.loc[data['issue_d'].str[:3] == "Nov", ('month_num')] = (11)
bigdf.loc[data['issue_d'].str[:3] == "Oct", ('month_num')] = (10)
bigdf.loc[data['issue_d'].str[:3] == "Sep", ('month_num')] = (9)
bigdf.loc[data['issue_d'].str[:3] == "Aug", ('month_num')] = (8)
bigdf.loc[data['issue_d'].str[:3] == "Jul", ('month_num')] = (7)
bigdf.loc[data['issue_d'].str[:3] == "Jun", ('month_num')] = (6)
bigdf.loc[data['issue_d'].str[:3] == "May", ('month_num')] = (5)
bigdf.loc[data['issue_d'].str[:3] == "Apr", ('month_num')] = (4)
bigdf.loc[data['issue_d'].str[:3] == "Mar", ('month_num')] = (3)
bigdf.loc[data['issue_d'].str[:3] == "Feb", ('month_num')] = (2)
bigdf.loc[data['issue_d'].str[:3] == "Jan", ('month_num')] = (1)
bigdf.loc[data['issue_d'].str[:3] == "", ('month_num')] = (0)

# clean up the dead rows
bigdf.dropna(subset=['term', 'issue_d'], inplace=True)

# PROCESSING OF FEMA DISASTER FILE

# read in FEMA csv file into dataframe
fema = pd.read_csv('data/DisasterDeclarationsSummaries.csv')

# drop columns that are irrelevant
fema = fema.loc[:, ['disasterNumber', 'state', 'incidentBeginDate',
                'incidentType', 'incidentEndDate']]

# create columns to link with lendingclub.com data
fema['yearBegin'] = fema['incidentBeginDate'].str[:4]
fema['monthBegin'] = fema['incidentBeginDate'].str[5:7]
fema['monthEnd'] = fema['incidentEndDate'].str[5:7]

# drop unix dates from dataframe
fema = fema.loc[:, ['disasterNumber', 'state', 'incidentType', 'yearBegin',
                'monthBegin', 'monthEnd']]

# drop all data outside of 2018
fema = fema[fema['yearBegin'] == '2018']

# drop duplicate rows with same incident named for multiple counties
fema = fema.drop_duplicates(subset=['disasterNumber'], keep=False)

# fill in all ending month with beginning month if it is missing
fema.monthEnd.fillna(fema.monthBegin, inplace=True)

# drop irrelevant disasterNumber
fema.drop(columns=['disasterNumber'], inplace=True)

# convert month number strings to numeric
fema['monthBegin'] = fema['monthBegin'].apply(pd.to_numeric, errors='coerce')
fema['monthEnd'] = fema['monthEnd'].apply(pd.to_numeric, errors='coerce')
fema['aftermath'] = fema['monthEnd'] + 1

# reinforce the numeric status of loan month number
bigdf['month_num'] = bigdf['month_num'].apply(pd.to_numeric, errors='coerce')

# clean up the dead rows
fema.dropna(subset=['monthBegin', 'monthEnd'], inplace=True)
# write to csv
# fema.to_csv('data/fema_clean.csv', index=False)

# CREATING TRIGGER MARKS IN LENDING CLUB BASED ON FEMA

bigdf["Disaster"] = ""
bigdf["DState"] = ""
bigdf["Aftermath"] = ""

bigdf.reset_index()
fema.reset_index()

In [2]:
def checkDisaster(row):
    global fema
    tmp_df = fema[(row['month_num'] >= fema['monthBegin']) 
                  & (row['month_num'] <= fema['monthEnd'])
                  & (fema['state']==row['addr_state'])]
    if len(tmp_df)>0:
        return 'D'
    else:
        return 'N'
    
def checkAftermath(row):
    global fema
    tmp_df = fema[(row['month_num'] <= fema['monthEnd']+1)
                  & (fema['state']==row['addr_state'])]
    if len(tmp_df)>0:
        return 'A'
    else:
        return 'N'

def checkDState(row):
    global fema
    tmp_df = fema[(fema['state']==row['addr_state'])]
    if len(tmp_df)>0:
        return 'T'
    else:
        return 'F'
    
bigdf['Disaster'] = bigdf.apply(lambda x: checkDisaster(x), axis=1)
bigdf['checkDState'] = bigdf.apply(lambda x: checkDState(x), axis=1)
bigdf['checkAftermath'] = bigdf.apply(lambda x: checkAftermath(x), axis=1)

In [6]:
bigdf.head()
bigdf.to_csv('data/data_fema_compare.csv', index=False)

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,issue_d,loan_status,pymnt_plan,...,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,pct_tl_nvr_dlq,sec_app_open_act_il,month_num,Disaster
0,30000.0,36 months,7.34%,930.99,3 years,OWN,95000.0,Mar-18,Fully Paid,n,...,13.0,0.0,19.0,NaN,24.0,10.0,90.0,NaN,3,N
1,34825.0,60 months,12.61%,785.45,2 years,MORTGAGE,125000.0,Mar-18,Current,n,...,14.0,1.0,14.0,45.0,15.0,45.0,96.3,NaN,3,N
2,2600.0,36 months,7.96%,81.43,3 years,MORTGAGE,62000.0,Mar-18,Current,n,...,19.0,1.0,45.0,NaN,NaN,NaN,100.0,NaN,3,N
3,20000.0,60 months,9.92%,424.16,3 years,MORTGAGE,110000.0,Mar-18,Current,n,...,3.0,5.0,8.0,NaN,4.0,NaN,90.9,NaN,3,N
4,17000.0,60 months,20.39%,454.10,10+ years,RENT,52000.0,Mar-18,Current,n,...,19.0,0.0,19.0,77.0,0.0,77.0,85.7,NaN,3,N

In [3]:
fema.head()

# make two smaller dataframes: one that is with disasters, one without disasters. 
# get a groupby series of count on loans from disaster states by month
# get a groupby series of count on loans from nondisaster states by month
# pick two states with the most disasters
# get smaller dataframes for each state
# month of month groupby count for the two states
# line graphs showing impact, with hightlight squares from dataframe

      state incidentType yearBegin  monthBegin  monthEnd  aftermath
48064    OK         Fire      2018           3         3          4
48126    OK         Fire      2018           4         4          5
48127    OK         Fire      2018           4         4          5
48128    TX         Fire      2018           4         4          5
48129    TX         Fire      2018           4         4          5