In [9]:
# Team 1 LendingClub primary notebook
# import dependencies
import pandas as pd
import numpy as np # needed for replace nan code below
import glob

# pull in all csvs and merge them into a single dataframe
bigdf = pd.concat([pd.read_csv(f, low_memory=False) for f in
                    glob.glob('data/LoanStats*.csv')], ignore_index=True)

In [147]:
bigdf.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,desc,dti,delinq_2yrs,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,495242.000000,495242.000000,495242.000000,495242.000000,4.952420e+05,0.0,0.0,494110.000000,495242.000000,...,270.0,270.000000,270.0,270.000000,233.000000,270.000000,270.000000,376.000000,376.000000,376.000000
mean,NaN,16025.020394,16025.020394,16021.668722,466.614617,8.009399e+04,NaN,NaN,19.668887,0.229252,...,3.0,198.084370,3.0,11.977778,591.397597,15740.816852,205.039593,7050.864043,55.058670,18.382979
std,NaN,10138.075023,10138.075023,10137.900881,286.910450,8.887161e+04,NaN,NaN,20.458244,0.743665,...,0.0,151.944225,0.0,9.434940,465.875246,9582.705213,211.514958,5035.647613,9.598626,6.157240
min,NaN,1000.000000,1000.000000,725.000000,29.760000,0.000000e+00,NaN,NaN,0.000000,0.000000,...,3.0,5.950000,3.0,0.000000,17.850000,424.110000,0.070000,413.930000,30.480000,1.000000
25%,NaN,8000.000000,8000.000000,8000.000000,254.560000,4.600000e+04,NaN,NaN,11.430000,0.000000,...,3.0,88.622500,3.0,2.000000,258.720000,8202.280000,32.870000,3316.412500,45.000000,18.000000
50%,NaN,14000.000000,14000.000000,14000.000000,386.820000,6.600000e+04,NaN,NaN,17.710000,0.000000,...,3.0,159.425000,3.0,11.000000,424.260000,13247.860000,149.855000,5450.570000,60.000000,18.000000
75%,NaN,22000.000000,22000.000000,22000.000000,629.040000,9.600000e+04,NaN,NaN,25.030000,0.000000,...,3.0,274.552500,3.0,20.000000,819.900000,22529.437500,314.047500,9623.287500,65.000000,24.000000
max,NaN,40000.000000,40000.000000,40000.000000,1670.150000,9.930475e+06,NaN,NaN,999.000000,58.000000,...,3.0,845.220000,3.0,29.000000,2535.660000,40149.350000,1072.990000,28503.000000,80.000000,24.000000

In [148]:
bigdf.shape

(495258, 145)

In [149]:
bigdf.dtypes

id                                             object
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                               object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
                                               ...
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 145, dtype: object

In [10]:
# drop irrelevant rows
data = bigdf.drop([
                "id", "member_id", "url", "desc", "hardship_type", "hardship_reason",
                "hardship_status", "deferral_term", "hardship_amount",
                "hardship_start_date", "hardship_end_date", "payment_plan_start_date",
                "hardship_length", "hardship_dpd", "hardship_loan_status",
                "orig_projected_additional_accrued_interest",
                "hardship_payoff_balance_amount", "hardship_last_payment_amount",
                "debt_settlement_flag_date", "settlement_status", "settlement_date",
                "settlement_amount", "settlement_percentage", "settlement_term"], axis=1)

In [3]:
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,disbursement_method,debt_settlement_flag
0,30000.0,30000.0,30000.0,36 months,7.34%,930.99,A,A4,Owner,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
1,34825.0,34825.0,34825.0,60 months,12.61%,785.45,C,C1,Collision Technician,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
2,2600.0,2600.0,2600.0,36 months,7.96%,81.43,A,A5,Occupational Therapist,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
3,20000.0,20000.0,20000.0,60 months,9.92%,424.16,B,B2,Sr. Education Specialist,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
4,17000.0,17000.0,17000.0,60 months,20.39%,454.10,D,D4,Independent Business Owner,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N

In [4]:
data.dtypes

loan_amnt                              float64
funded_amnt                            float64
funded_amnt_inv                        float64
term                                    object
int_rate                                object
installment                            float64
grade                                   object
sub_grade                               object
emp_title                               object
emp_length                              object
home_ownership                          object
annual_inc                             float64
verification_status                     object
issue_d                                 object
loan_status                             object
pymnt_plan                              object
purpose                                 object
title                                   object
zip_code                                object
addr_state                              object
dti                                    float64
delinq_2yrs                            float64
earliest_cr_line                        object
inq_last_6mths                         float64
mths_since_last_delinq                 float64
mths_since_last_record                 float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                              object
                                        ...
num_op_rev_tl                          float64
num_rev_accts                          float64
num_rev_tl_bal_gt_0                    float64
num_sats                               float64
num_tl_120dpd_2m                       float64
num_tl_30dpd                           float64
num_tl_90g_dpd_24m                     float64
num_tl_op_past_12m                     float64
pct_tl_nvr_dlq                         float64
percent_bc_gt_75                       float64
pub_rec_bankruptcies                   float64
tax_liens                              float64
tot_hi_cred_lim                        float64
total_bal_ex_mort                      float64
total_bc_limit                         float64
total_il_high_credit_limit             float64
revol_bal_joint                        float64
sec_app_earliest_cr_line                object
sec_app_inq_last_6mths                 float64
sec_app_mort_acc                       float64
sec_app_open_acc                       float64
sec_app_revol_util                     float64
sec_app_open_act_il                    float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
hardship_flag                           object
disbursement_method                     object
debt_settlement_flag                    object
Length: 121, dtype: object

In [5]:
data.shape

(495258, 121)

In [13]:
# code to fill nans with 0s
data['mths_since_last_record'].replace(np.nan, 0)
data['mths_since_last_major_derog'].replace(np.nan, 0)
data['il_util'].replace(np.nan, 0)

data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,disbursement_method,debt_settlement_flag
0,30000.0,30000.0,30000.0,36 months,7.34%,930.99,A,A4,Owner,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
1,34825.0,34825.0,34825.0,60 months,12.61%,785.45,C,C1,Collision Technician,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
2,2600.0,2600.0,2600.0,36 months,7.96%,81.43,A,A5,Occupational Therapist,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
3,20000.0,20000.0,20000.0,60 months,9.92%,424.16,B,B2,Sr. Education Specialist,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N
4,17000.0,17000.0,17000.0,60 months,20.39%,454.10,D,D4,Independent Business Owner,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Cash,N